.quiz-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.quiz-card {
  width: 500px;
  height: min-content;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr min-content min-content;
  padding: 15px;
  gap: 10px;
}
.question {
  border-bottom: 1px solid #999;
  margin: 30px;
}
.correct {
  color: green;
}
.incorrect {
  color: red;
}
