/* noscript style */
#noscript {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100vw;
  padding: 10px;
  background-color: red;
}
/* reset styles */
* {
  padding: 7px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
body {
  background-color: #e8e8e8;
  padding: 0;
}
html {
  padding: 0;
}
#app {
  padding: 0;
}
.none {
  display: none;
}
/* home styles */
.quiz-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
}
button {
  padding: 0;
}
.icon {
  width: 20px;
  height: 20px;
  padding: 0;
}
