/* noscript style */
#noscript {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100vw;
  padding: 10px;
  background-color: red;
}
/* reset styles */
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
body {
  background-color: #e8e8e8;
}
body {
  background-color: #e8e8e8;
  padding: 0;
}
html {
  padding: 0;
}
#app {
  padding: 0;
}
/* assessment styles */
.assess-main {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
form {
  display: grid;
  grid-template-columns: min-content max-content;
}
